.footer{
    display: flex;
    width: 80%;
    justify-content: space-between !important;
}

.col-end{
    float: right;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px !important;
}
.col-right{
    display: flex;
    align-items: flex-end;
}

.footer-left{
    display: flex;
}

.footer-spacing{
    margin: 0px 20px 0px 20px;
}

.footer-link{
    text-decoration: underline;
}

.footer p{
    color: #566b8d;
    font-weight: 600;
    
}