.labmastri-card{
    width: 40%;
    background-color: #A54FA2;
    border-radius: 10px;
    padding: 20px;
    color: white;
    margin-bottom: -350px;
    margin-right: 450px;
    position: sticky;
    z-index: 100;
}

.labmastri-card p{
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
    margin-left: 0px !important;
}

.labmastri-card h3{
    margin-top: 30px !important;
    font-size: 30px;
}

.labmastri-hr{
    float: left;
    width: 80px;
    margin: 0px;
}

.labmastri-card .heading{
    font-size: 20px !important;
}

.labmastri-card .name{
    font-size: 16px;
}







.labmastri-img{
    width: 750px;
    height: 500px;
    object-fit: cover;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.opacity{
   opacity: 0.3;
}

.labmastri{
    margin-left: 300px;
   display: flex;
  
}

.labmastri-img-center{
    margin: 0px 40px 0px 40px !important;
}