.a {
  size: 50%;
  max-width: 50%;
}

.bg {
  justify-content: space-around;
  background-color: #3597ff !important;
  height: 400px;
  margin-bottom: 40px;
}

.glasnak {
  display: flex !important;
  justify-content: center !important;
  bottom: 0;
  height: auto !important;
  width: auto !important;
  max-width: 70%;
  max-height: 95%;
  z-index: 99;
}

.img {
  justify-content: flex-end !important;
  align-items: flex-end !important;
}

.main-nadpis {
  font-size: 35px;
}

.text-div {
  flex-direction: row;
  margin-left: 20px;
}

.w {
  color: white;
}

.wrapper {
  max-width: 80%;
}

.main-nadpis {
  font-weight: 300 !important;
}
