.spoznaj{
    display: flex;
    justify-content: center;
   
}

.spoznaj-img{
    width: 80%;
    border-radius: 5px;
}

.spoznaj-cards{
   width: 20%;
    
}

.spoznaj-margin{
    margin: 50px;
}

.role{
    max-width: 85%;
    font-size: 100%;
    color: #566b8d;
}

.name{
    font-size: 130%;
}

.work{
    max-width: 85%;
    font-size: 120%;
    color: #566b8d;
}
