.study {
  background-color: #f3f9ff;
  padding-top: 100px;
}

.study h3 {
  font-size: 40px;
  font-weight: 700;
}

.study h4 {
  font-size: 30px;
  margin-top: 40px;
  font-weight: 500;
}

.study p {
  color: #566b8d;
  font-size: 16px;
}

.study-content {
  max-width: 30%;
  margin-left: 10%;
}

.sbutton {
  
  padding: 13px;
  color: white;
  background-color: #3597ff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
}


.mato{
   
    max-width: 50%;
   
}