.vynimocny-row{
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vynimocny{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-vynimocny{
    width: 30% !important;
}

.col-vynimocny h3{
    font-size: 20px;
    font-weight: 600;
}

.vynimocny-img{
    width: 15%;
}

.vynimocny p{
    width: 80%;
    font-weight: 500;
    color: #566b8d;
}

.vynimocny-h1{
    font-size:40px ;
    margin: 100px;
}