.vizia-text {
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.vizia {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.nasa-vizia {
  font-size: 40px;
  font-weight: 300;
}

.v-openlabe {
  font-size: 40px;
}

.vizia-info {
  color: #566b8d;
  font-size: 16px;
}

.k {
  background-color: rosybrown;
  height: fit-content;
  padding-left: 100px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  margin-top: 18px !important;
  border-radius: 5px;
}

.vizia-number {
  font-size: 90px;
  margin: 0px;
  font-weight: bold;
  justify-content: end;
}

.vizia-card-text {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: flex-end;
}

.b1 {
  background-color: rgba(221, 236, 251, 0.4);
}

.t1 {
  color: #5b94d7;
}
.tt1 {
  margin-right: 15px;
  color: #5b94d7;
}

.b2 {
  background-color: rgba(238, 226, 156, 0.4);
}

.t2 {
  color: #dbca68;
}
.tt2 {
  margin-right: 3px;
  color: #dbca68;
}

.b3 {
  background-color: rgba(156, 238, 204, 0.4);
}

.t3 {
  color: #5cc19a;
}
.tt3 {
  margin-right: 3px;
  color: #5cc19a;
}

.b4 {
  background-color: rgba(238, 156, 156, 0.4);
}

.t4 {
  color: #b95e73;
}
.tt4 {
  margin-right: 0px;
  color: #b95e73;
}

.vizia-cards {
  margin-left: 40px;
}

.vizia-cards {
  flex-direction: row;
}
