.where-col.card {
  cursor: pointer;
}
.where-col.card p {
    height: 140px;
    max-width: 300px
}

.where-col {
  width: 100%;
  display: flex;
  align-items: center;
}

.where-col.text.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}

.where-col.icon {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.where-col h3 {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.where-col p {
  color: #566b8d;
  font-weight: 500;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.where-row {
  display: flex;
  max-width: 80%;
}

.where {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 80% !important;
  display: flex !important;
  justify-content: flex-start !important;
}

.gg-arrow-long-right {
  color: grey !important;
}

.where h4 {
  font-size: 27px;
  font-weight: bold;
}

.where-col.card:hover  {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #3597ff;
}

.where-font {
  font-size: 0.8rem;
}

.where {
  margin-top: 100px;
  margin-bottom: 100px;
}

.wh4{
    width: 400px;
}












