.why-cards-heading {
  font-size: 20px;
}

.why-p {
  font-size: 14px;
  color: #566b8d;
}

.why-card {
  max-width: 260px;
  width: 100%;
  padding: 48px 12px 0px;
  overflow: hidden;
}

.why-cards {
  margin-top: 40px;
  margin-bottom: 200px;
}

.why-cards-direction {
  flex-direction: row;
  overflow: hidden;
}

.why-img {
  max-height: 45px;
  max-width: 45px;
  height: 100%;
  max-width: 100%;
}
